/**{
 margin: 0;
padding: 0;
list-style: none;
text-decoration: none;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-1{
    display: flex;
     background-color: black;
     color: white;
    justify-content: space-evenly;
}
.navbar-1 .nav-logo-1{
    width: 8%;

}
.navbar-1 .nav-logo-1 h2{
    color:white;
    font-size: x-large;
     margin-top: 15px;
}

.navbar-1 .nav-menu-1{
    width: 20%;

}
.nav-menu-1 ul{
    display: flex;
    justify-content: space-evenly;
     margin-top: 15px;
}
.nav-menu-1 ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
   
    font-weight: 400;
}


.navbar-1 .nav-icon-1{
 
    width: 20%;
     margin-top: 15px;
}
.nav-icon-1 ul{
     display: flex;
    justify-content: space-evenly;
}
.navbar-1 .nav-list-1{
  display: none;
  overflow: hidden;

  }
  .nav-icon-1 ul li a{
    color: white;
    font-size: 20px;
  }

@media screen and (max-width:576px) {
    .navbar-1 .nav-menu-1{
    display: none;
}
.navbar-1 .nav-list-1{
 margin-top: 15px;
  display: block;
  

  height: 5vh;
}
.navbar-1 .nav-list-1 ul li a{
text-decoration: none;
  list-style: none;
  color: aliceblue;
}


.navbar-1 .nav-list-1:hover{
  height: 20vh;
  margin-top: 15px;
  display: block;

}
.navbar-1 .nav-logo-1 h2{
    color:white;
    background-color: aqua;
    font-size: large;
}
.pro-details{
    display: flex;
    flex-direction: column  ;
    width: 80%;
    align-items: center;
   
}
.pro-details-img{
    margin-bottom: 50PX;
    margin-top: 50PX;
    width: 70%;
    height: 75vh;

   

}
.pro-details .pro-details-img img{
    width: 100%;
   height: 75vh;

}
}
/* start section pro-details */
/* start section 


.pro-details{
    margin-top: 50PX;
    
}

.pro-details-img{
    margin-bottom: 50PX 0;
    width: 100%;

 
}

.pro-details .pro-details-img img{
    width: 100%;
    height: 75vh;

}
/* ================ */
/*.pro-details-data{
position: relative;
height: 90vh;
}
.pro-details-title{
position: absolute;
top: 10px;
left: 0;

}
.pro-details-title h2{
    margin: 20px 0;
    text-transform: uppercase;
}
.pro-details-title h2 span{
    font-size: 18px;
}

.pro-details-title h3{
    margin: 20px 0;
}
.pro-details-title p{
    font-size: 18px;
     margin: 20px 0;
}
.pro-details-title p span{
    font-size:18px;
    color: gray;
}
/* ================ */
/*.pro-details-title a{
    background-color: black;
    width: 120px;
    display: inline-block;
    position: absolute;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    padding: 10px 2px;
    text-align: center;
    top:110%;
    left: 10px;
}
.pro-details-text .table{
    position: absolute;
    bottom: 20%;
    left: 10px;
    width: 50%;
}
