* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* start section navbar */

.navbar-1 {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
}
.navbar-1 .nav-logo-1 {
  width: 5%;
}
.navbar-1 .nav-logo-1 h2 {
  color: aliceblue;
}

.navbar-1 .nav-logo-1 h2 a {
  list-style: none;
  text-decoration: none;
  color: aliceblue;
}
.navbar-1 .nav-menu-1 {
  width: 20%;
}
.nav-menu-1 ul {
  display: flex;
  justify-content: space-evenly;
}
.nav-menu-1 ul li a {
  text-decoration: none;
  background-color: brown;
  list-style: none;
  color: white;
}
.navbar-1 .nav-icon-1 {
  width: 20%;
}
.nav-icon-1 ul {
  display: flex;
  justify-content: space-evenly;
}
.navbar-1 .nav-list-1 {
  display: none;
  overflow: hidden;
}

@media screen and (max-width: 576px) {
  .navbar-1 .nav-menu-1 {
    display: none;
  }
  .navbar-1 .nav-list-1 {
    display: block;
    height: 5vh;
  }
  .navbar-1 .nav-list-1:hover {
    height: 20vh;

    display: block;
  }
  .navbar-1 .nav-logo-1 h2 {
    width: 10%;

}
<<<<<<< HEAD
=======

/* start section pro-details */
/* start section home */


.pro-details {
  margin-top: 50px;
}

.pro-details-img {
  margin-bottom: 50px;
  margin-top: 50px;
}

.pro-details .pro-details-img img {
  width: 100%;
  height: 75%;
}
/* ================ */
.pro-details-data {
  position: relative;
  height: 90vh;
}
.pro-details-title {
  position: absolute;
  top: -30px;
 right: 5px;
}
.pro-details-title h2 {
  margin: 20px 0;
  text-transform: uppercase;
}
.pro-details-title h2 span {
  font-size: 18px;
}

.pro-details-title h3 {
  margin: 20px 0;
}
.pro-details-title p {
  font-size: 18px;
  margin: 20px 0;
}
.pro-details-title p span {
  font-size: 18px;
  color: gray;
}
/* ================ */
.pro-details-title a {
  background-color: black;
  width: 120px;
  display: inline-block;
  position: absolute;
  border-radius: 50px;
  color: white;
  text-decoration: none;
  padding: 10px 2px;
  text-align: center;
  top: 110%;
  left: 10px;
}
.pro-details-text .table {
  position: absolute;
  bottom: 20%;
  left: 10px;
  width: 50%;
}
